@import url(reset.css);
@import url(font.css);
/* site style */

@import url(myStyles/header.css);
@import url(myStyles/nav.css);
@import url(myStyles/topic.css);
@import url(myStyles/best-selling.css);
@import url(myStyles/recent-product.css);
@import url(myStyles/footer.css);
@import url(myStyles/shop.css);
@import url(myStyles/blog.css);
@import url(myStyles/det.css);
@import url(myStyles/register.css);
@import url(myStyles/login.css);
@import url(myStyles/information.css);
@import url(myStyles/cart.css);
@import url(myStyles/user.css);

.container {
    max-width: 1300px;
    margin: auto;
    margin-top: 20px;
}
body {
    background-color: #f9f9f9 ;
}