<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Meta"/>
    <title>@ViewData["Title"] - @ViewData["owner"]</title>
    <partial name="Styles" />
</head>
<body>
    <partial name="navbar" />
    @RenderSection("menu",false)
    <div class="container">
        @RenderBody()
    </div>
   <partial name="Footer" />
   <partial name="Scripts" />
   @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
