 <div class="footer">
        <div class="footer-child">
            <div class="footer-menu-res">
                <div class="footer-menu">
                    <h1> دسترسی سریع </h1>
                    <li onclick="validate()">خرید لپ تاپ </li>
                    <li onclick="validate()"> خرید ساعت هوشمند </li>
                    <li style="color: tomato;"> خرید کفش (بزودی) </li>
                    <li style="color: tomato;"> خرید مبل (بزودی) </li>
                    <li style="color: tomato;"> خرید تیشرت (بزودی) </li>
                </div >
                <div class="footer-menu">
                    <h1> توانمندان فردا </h1>
                    <li onclick="validateblog()">وبلاگ  </li>
                    <li> همکاری با ما </li>
                    <li>درباره ما</li>
                </div>
            </div>
            <div class="dec-footer">
                <h1> فروشگاه اینترنتی توانمندان فردا </h1>
                <p>مجموعه توانمندان فردا در نظر دارد با استفاده از همفکری هموطنان گرامی در سرتاسر ایران امکانات منحصر به فردی را در سایت راه‌اندازی و اجرا نماید، لذا نظرات، ایده‌ها و ابزارهای مورد نظر خود را به ایمیل tavanmandanfarda@gmail.com ارسال نمایید. </p>
                <hr size="2px" color="#afafaf"> 
                <div class="dec-footer-child">
                    <div class="dec-footer-child-info">
                        <img src="/img/footer-map.png" alt="">
                        <span>  تهران، خیابان ولیعصر، نرسیده به بزرگمهر، بن بست گلساز، پلاک ۲، طبقه منفی ۱، کد پستی ۱۴۱۶۹۴۴۱۳۹ </span>
                    </div>
                    <div class="dec-footer-child-info">
                        <img src="/img/footer-phone.png" alt="">
                        <span> 02191009194 </span>
                    </div>
                </div>
            </div>
            <div class="enamad-box">
                    <img src="/img/enamad.png" alt="">
                    <img src="/img/samandehi.png" alt="">
                    <a href="#" class="my-order"> پیگیری سفارش </a>
            </div>
        </div>
    </div>