<div class="menu">
    <nav class="desktop-menu">
        <li class="nav-li-selected"><a asp-action="home" asp-controller="index"> خانه </a></li>
        <li class="nav-li-un-selected nav-li-hovered"><a asp-action="show" asp-controller="store">فروشگاه</a></li>
        <li class="nav-li-un-selected nav-li-hovered"><a asp-action="call" asp-controller="home"> تماس با ما </a></li>
        <li class="nav-li-un-selected nav-li-hovered"><a asp-controller="home" asp-action="About"> درباره ما </a></li>
        <div class="nav-phone-number">
            <span>021-91009194</span>
            <img src="/img/phone.png">
        </div>
    </nav>
    <nav class="mobile-menu">
        <details>
            <summary> <i class="fa fa-bars"></i> </summary>
            <div>
                <li class="mobile-menu-item"><a asp-action="home" asp-controller="index"> خانه </a></li>
                <li class="mobile-menu-item"><a asp-action="show" asp-controller="store">فروشگاه </a></li>
                <li class="mobile-menu-item"><a asp-action="call" asp-controller="home"> تماس با ما </a></li>
                <li class="mobile-menu-item"><a asp-controller ="home" asp-action="About"> درباره ما </a></li>
            </div>
        </details>
    </nav>

</div>