<div class=" top-header">
    <div class="header">
        <div class="site-info">
            <img src="/img/pin.png">
            <a class="topsite"> <h1> توانمندان فردا </h1> </a>
        </div>
        <div class="search">
            <input type="text" placeholder="جست و جو . . . ">
            <i class=" fa fa-search top-search"></i>
        </div>
        <div class="menu-group">
            <a asp-action="Cart" asp-controller="Store">
                <div class="shopimg-cart">
                    <i class="fa fa-shopping-basket"></i>
                    <span> سبد خرید </span>
                </div>
            </a>
            <div class="account">
                <details>
                    <summary>
                        <img src="/img/user.png">
                    </summary>
                    <div>
                        <li> <a asp-action="Login" asp-controller="Account"> ورود </a> </li>
                        <li> <a asp-action="Register" asp-controller="Account"> ثبت نام </a> </li>
                    </div>
                </details>
            </div>
        </div>
    </div>
</div>