<div class="our-services">
    <div class="our-services-child">
        <img src="/img/darmahal.png" alt="">
        <span> پرداخت در محل  </span>
        <span class="dec-services"> تهران </span>
    </div>
    <div class="our-services-child">
        <img src="/img/hamlebar.png" alt="">
        <span> ارسال به کل کشور </span>
        <span class="dec-services"> رایگان </span>
    </div>
    <div class="our-services-child">
        <img src="/img/poshtibani.png" alt="">
        <span> پشتیبانی بر خط</span>
        <span class="dec-services"> 24 ساعته </span>
    </div>
    <div class="our-services-child">
        <img src="/img/zemanat.png" alt="">
        <span> ضمانت اصالت کالا </span>
        <span class="dec-services"> 7 روز ضمانت بازگشت وجه </span>
    </div>
</div>