@section menu {
    <partial name="menu" />
}
<div class="shop-header textinfo">
    <p class="information"><strong> تماس با ما </strong></p>
    <p class="informationtext">
        <span> <strong> تلفن فروش : </strong> 45691000 - داخلی 2</span> <span> | </span>  <span> <strong> خدمات پس از فروش : </strong>داخلی 3</span> <span> | </span> <span><strong> پیگیری سفارشات : </strong> داخلی 1</span>
    </p>
    <p class="informationtext">
        <span> <strong> نشانی (دفتر مرکزی) : </strong>  تهران، خیابان ولیعصر، نرسیده به بزرگمهر، بن بست گلساز، پلاک ۲، طبقه منفی ۱،  </span>
    </p>
    <p class="informationtext">
        <span> <strong> کدپستی : </strong> ۱۴۱۶۹۴۴۱۳۹ </span>  <span> | </span> <span> <strong> فکس : </strong> 103 - 104 </span>
    </p>
    <p class="informationtext">
        <span> <strong> ساعت کاری مجموعه : </strong> شنبه تا چهارشنبه (از ساعت ۹ تا ۱۸) پنجشنبه (از ساعت ۹ الی ۱۴) </span>
    </p>
</div>
<partial name="OurServices" />