@{
    ViewData["Title"] = "Home Page";
    
}
@model List<IndexProductsViewModel>



<div class="ads">
    <div class="item-slider">
        <slider onclick="validate()">
            <slide></slide>
            <slide></slide>
            <slide></slide>
            <slide></slide>
        </slider>
    </div>
    <div class="item-shop">
        <span> پیشنهادی </span>
        <div class="center-shop">
            @if (Model[0].Best.images.Count>0)
            {
                <img src="/img/@Model[0].Best.images[0].ImageName" alt="">
            }
            <h5> @Model[0].Best.Name</h5>
            <s> @Model[0].Best.Price تومان</s>
            <h4>  @Money.formatMoney(ApplyOff.Calculate(Model[0].Best.Price, Model[0].Best.Offcodes[0].Offcode.Percent)) تومان</h4>
        </div>
        <a asp-action="Details" asp-controller="store" asp-route-id=@Model[0].Best.Id asp-route-cat="Model[0].Best.Category.Name"> برای خرید کلیک کنید </a>
    </div>
    <div class="showpic">
        <img src="/img/headset.jpg" alt="" class="img1" onclick="validate()">
        <img src="/img/t-shirt.jpg" alt="" class="img2" onclick="validate()">
        <img src="/img/pro-whatch.jpg" alt="" class="img3" onclick="validate()">
    </div>
</div>
<partial name="TopProduct" model="@Model" />
