.menu {
    width: 100%;
}
nav {
    margin: auto;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    max-width: 1300px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    padding: 10px 0px 5px;
    display: grid;
    grid-template-columns: repeat(5 , auto);
    justify-content: right;
    grid-gap: 10px;
    position: relative;
}
nav li a {
    color: #444444;
}
.desktop-menu li:first-child {
    margin-right: 10px;
}
.nav-li-selected {
    border-bottom: #ef4a23 solid 3px;
    padding: 0px 5px 8px ;
    transition: all 0.3s ease-in-out;
}
.nav-li-un-selected {
    border-bottom: transparent solid 3px;
    padding: 0px 5px 8px ;
    transition: all 0.3s ease-in-out;
}
.nav-li-hovered:hover {
    border-bottom: #ef4a23 solid 3px;
    transition: all 0.3s ease-in-out;
}
.nav-phone-number {
    color: #ef4a23;
    display: grid;
    grid-template-columns: 1fr 0fr;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
}
.mobile-menu {
    display: none;
    padding-bottom: 5px;
}
.mobile-menu details {
    padding: 0px 10px;
}
.mobile-menu details summary i {
    font-size: 30px;
}
.mobile-menu-item {
    background-color: #4293f5;
    border-radius: 10px;
    padding: 10px;
    margin: 3px;
    cursor: pointer;
}
.mobile-menu-item a {
color: #ffffff;
}
@media only screen and ( max-width : 768px) {
    .desktop-menu {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
}
